<html>
<head>
  <title>Super Sekret Test Page.</title>
</head>
<link href="stylesheet.Css" rel="stylesheet" type="text/css"</>
<body>
  <div id="container">
    <center>

      <h1>Welcome!</h1>
      <h3>Accept Resume</h3>
      <!-- <form action=acceptResume method="post" enctype="multipart/form-data">
        Name: <input type="text" name="name">
        <br>
        <input type="file" name="resume">
        <br>
        <input type="submit">
      </form> -->
      <br>
      <h3>acceptJobs</h3>
      <form action=acceptJobs method="post">
        jobname<input type="text" name="jobname">
        <br>
        company<input type="text" name="company">
        <br>
        jobdetails<input type="text" name="jobdetails">
        <br>
        <input type="submit">
      </form> 
    </center>
  </div>
</body>
</html>
