<navbar></navbar>



<div class="container" ua-has-permission="user">
<div class="alert alert-success alert-dismissible" role="alert" ng-hide="!main.button.applied">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Nice!</strong> Your resume was uploaded successfully.
</div>

  <div class="jumbotron">
    <h1 class="text-center">Find Your Dream Job Today</h1>
    <p class="text-center">Connect with Our Exclusive Employers</p>
    <button type="button" ngf-select="main.upload($file)" class="btn btn-success btn-lg center-block" style="margin-top: 35px"> 
      <span class="glyphicon glyphicon-upload"></span> Upload Resume
    </button>
  </div>
</div>

<div class="container" ua-has-permission="admin">
  <table ng-table="main.tableParams" class="table" show-filter="true">
      <tr ng-repeat="job in $data">
          <td title="'Name'" sortable="'name'" class="text-center">
              {{job.name}}</td>
          <td title="'Title'" sortable="'title'" class="text-center">
              {{job.title}}</td>
          <td title="'Score'" sortable="'score'" class="text-center">
              {{job.score}}</td>
          <td title="'More Info'">
            <button class="btn btn-success center-block" ng-click="main.changeState(job)" ui-sref="analysis"><span class="glyphicon glyphicon-search"></span></button>
          </td>
      </tr>
  </table>
</div>

<!-- Modal -->



